<div>
    <div>
        <h1>{{name}}</h1>
    </div>
    <br>
    {{#each user}}
    <ul>
        <section>
            <div>
                <li>{{id}}</li>
                <li>{{name}}</li>
                <li>{{gender}}</li>
                <li>{{age}}</li>

            </div>
            <br>
            <div>
                {{#each user.friend}}
                <li>{{id}}</li>
                <li>{{name}}</li>
                <li>{{gender}}</li>
                <li>{{age}}</li>
                {{/each}}
            </div>
            <br>
            <div>
                {{#each ueser.friend.mutual_friends}}
                <li>{{id}}</li>
                <li>{{name}}</li>
                <li>{{gender}}</li>
                <li>{{age}}</li>
                {{/each}}
            </div>
            <br>
            <div>
                {{#each user.friend}}
                <li>{{id}}</li>
                <li>{{name}}</li>
                <li>{{gender}}</li>
                <li>{{age}}</li>
                {{/each}}
            </div>
            <br>
            <div>
                {{#each ueser.friend.mutual_friends}}
                <li>{{id}}</li>
                <li>{{name}}</li>
                <li>{{gender}}</li>
                <li>{{age}}</li>
                {{/each}}
            </div>
            <br>
            {{#each user.groups}}
            <ul>
                <li>{{id}}</li>
                <li>{{name}}</li>
                <li>{{description}}</li>
                <br>
                {{#each user.groups.members}}
                <li>{{id}}</li>
                <li>{{name}}</li>
                <li>{{gender}}</li>
                <li>{{age}}</li>
                {{/each}}
                <br>
                <li>{{id}}</li>
                <li>{{name}}</li>
                <li>{{description}}</li>
                <br>
                {{#each user.groups.members}}
                <li>{{id}}</li>
                <li>{{name}}</li>
                <li>{{gender}}</li>
                <li>{{age}}</li>
                <br>
                <li>{{id}}</li>
                <li>{{name}}</li>
                <li>{{gender}}</li>
                <li>{{age}}</li>
                {{/each}}
                <br>
            </ul>
            {{/each}}
        </section>
        <br>
        <section>
            <div>
                <li>{{id}}</li>
                <li>{{name}}</li>
                <li>{{gender}}</li>
                <li>{{age}}</li>

            </div>
            <br>
            <div>
                {{#each user.friend}}
                <li>{{id}}</li>
                <li>{{name}}</li>
                <li>{{gender}}</li>
                <li>{{age}}</li>
                {{/each}}
            </div>
            <br>
            <div>
                {{#each ueser.friend.mutual_friends}}
                <li>{{id}}</li>
                <li>{{name}}</li>
                <li>{{gender}}</li>
                <li>{{age}}</li>
                {{/each}}
            </div>
            <br>
            <div>
                {{#each user.friend}}
                <li>{{id}}</li>
                <li>{{name}}</li>
                <li>{{gender}}</li>
                <li>{{age}}</li>
                {{/each}}
            </div>
            <br>
            <div>
                {{#each ueser.friend.mutual_friends}}
                <li>{{id}}</li>
                <li>{{name}}</li>
                <li>{{gender}}</li>
                <li>{{age}}</li>
                {{/each}}
            </div>
            <br>
            {{#each user.groups}}
            <ul>
                <li>{{id}}</li>
                <li>{{name}}</li>
                <li>{{description}}</li>
                <br>
                {{#each user.groups.members}}
                <li>{{id}}</li>
                <li>{{name}}</li>
                <li>{{gender}}</li>
                <li>{{age}}</li>
                {{/each}}
                <br>
                <li>{{id}}</li>
                <li>{{name}}</li>
                <li>{{description}}</li>
                <br>
                {{#each user.groups.members}}
                <li>{{id}}</li>
                <li>{{name}}</li>
                <li>{{gender}}</li>
                <li>{{age}}</li>
                <br>
                <li>{{id}}</li>
                <li>{{name}}</li>
                <li>{{gender}}</li>
                <li>{{age}}</li>
                {{/each}}
                <br>
            </ul>
            {{/each}}
        </section>
    </ul>
    {{/each}}
</div>