<main>

    <div class="card">
        <div class="d-flex justify-content-end">
            {{#with navigation}}
            <h5 class="title-text">{{logo}}</h5>
            <ul class="nav">
                <h5 class="title-text">{{logo}}</h5>
                {{#each links}}
                <li class="nav-item">
                    <a href="{{href}}" class="nav-link">{{text}}</a>
                </li>
                {{/each}}


                <li>
                    <a href="{{logo}}" class="nav-link disabled">Disabled</a>
                </li>
            </ul>
            {{/with}}
        </div>
    </div>
    <br>
    <section class="col-12">
        {{#with newsBlock}}
        <div class="display-6 text-center">{{title}}</div>
        {{#each cards}}
        <div class="container overflow-hidden">
            <div class="card row g-2">
                <div class="card-body col-sm-6 mb-3 mb-sm-0 bg-dark">


                    <div class="card-header text-light">{{title}}

                        <span class="badge text-bg-success rounded-pill">{{isNew}}</span>
                        <span class="badge text-bg-danger rounded-pill">{{isTop}}</span>
                    </div>


                    <span class="text-light">{{description}}</span>

                </div>
            </div>
        </div>
        {{/each}}
        {{/with}}
    </section>
    <hr>
    {{#with goodsBlock}}
    <section>
        <div class="nav nav-tabs mb-5">
            {{#each tabs}}
            <div class="nav-item">
                {{#if isActive}}
                <a href="#" class="nav-link active">{{text}}</a>
                {{else}}
                {{#if isDisabled}}
                <a href="#" class="nav-link isdisabled">{{text}}</a>
                {{else}}
                <a href="#" class="nav-link">{{text}}</a>
                {{/if}}
                {{/if}}
            </div>
            {{/each}}
        </div>


    </section>
    <br>
    <section class="col-12">
        {{#each cards}}
        <div class=" card row-6">
            <div class="card-body col-4">
                <img class="card-image-top" src="{{image}}" alt="#"></img>
                <div class="card-body bg-light">
                    <h6 class="card-title">{{title}}</h6>
                    {{#if isHot}}
                    <a href="true">hot</a>
                    {{else}}
                    {{#if isNew}}
                    <a href="true">new</a>
                    {{/if}} {{/if}}

                    <span class="badge text-bg-warning rounded-pill">Hot</span>
                    <span class="badge text-bg-primary rounded-pill">New</span>
                    <p>{{description}}</p>

                </div>
            </div>
        </div>
        {{/each}}
    </section>
    {{/with}}
    <hr>
    {{#with subscribe}}
    <div class="card">
        <div class="card-body bg-dark">
            <h2>
                <div class="text-light">{{header}}</div>
                <div class="button-end"></div>
                {{#each buttons}}

                <button class="btn btn-primary">
                    <span class="text primary">{{text}}</span>
                    <a href="{{link}}"></a>
                </button>

                {{/each}}
            </h2>
            <p class="text-light">{{description}}</p>

        </div>
    </div>
    {{/with}}
    <hr>
    {{#with service}}
    <div class="card">
        <div class="card-body bg-success text-center">
            <h2 class="text-light ">{{title}}</h2>
            <p class="text-light ">{{description}}</p>
            {{#each buttons}}
            <button class="btn btn-primary text-center">
                <span class="text primary">{{text}}</span>
                <a href="{{link}}"></a>
            </button>
            {{/each}}
        </div>
    </div>
    {{/with}}
    <hr>
    <br>

    <ul class="nav">
        {{#each footer}}
        <li class="nav item">
            <a href="{{link}}" class="nav-link">{{text}}</a>
        </li>
        {{/each}}
    </ul>


</main>