<body>
    <div class="row">
        <div class="col-12">
            <ul class=" nav ">
                {{#each breadcrumb}}
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        {{#if @last}}disabled{{/if}}<a href="{{url}}" class="nav-link">{{name}}</a></li>
                </ol>



                {{/each}}
            </ul>
        </div>
    </div>

    <div class="row">

        {{#with productData}}


        <div class="card col-6">
            <img class="imege-class-top" src="{{img}}" alt="#"></img>
            {{#with info}}
            <div class="card col-10">
                <div class="card-body">
                    <div class="card-text-bg-light"></div>
                    <div class="card-title">{{title}}</div>
                    <p>{{about}}</p>
                    <h3>{{price}}</h3>
                    {{#each category}}
                    {{#if isHot}}
                    <span class="badge text-bg-warning rounded-pill">{{name}}</span>
                    {{/if}}
                    {{#if isNew}}
                    <span class="badge text-bg-primary rounded-pill">{{name}}</span>
                    {{/if}}
                    {{#if isBonus}}
                    <span class="badge text-bg-success rounded-pill">{{name}}</span>
                    {{/if}}
                    {{/each}}
                    {{/with}}
                </div>
            </div>
        </div>






        <div class="card col-6">
            {{#with item}}
            <div class="table">
                {{#each head}}
                <thead class="col">
                    <tr>
                        <th>{{head}}</th>
                    </tr>
                </thead>
                {{/each}}
                {{#each body}}
                <tbody class="row">
                    <tr>
                        <th>{{body}}</th>
                    </tr>
                </tbody>
                {{/each}}
            </div>


            {{/with}}

            <div class="">
                <div class="card-body">
                    {{#with param}}

                    <div class="card header">{{title}}</div>
                    {{#each list}}
                    <ul class="list-group">
                        <li class="list-group-item">{{list}}</li>
                    </ul>
                    {{/each}}

                    {{/with}}
                </div>
            </div>




            {{#with alert}}
            {{#if isError}}
            <div class="alert alert-danger">{{text}}</div>
            {{/if}}
            {{/with}}
        </div>

    </div>
    </div>



    <div class="row">
        <div class=" col-10">
            <div class="nav">

                {{#each actionList}}
                <div class="card col-2">
                    {{#if isWarning}}
                    <button class="btn btn-warning text-light">{{name}}</button>
                    {{/if}}
                    {{#if isError}}
                    <button class="btn btn-outline-danger text-outline-danger">{{name}}</button>
                    {{/if}}
                    {{#if isSuccess}}
                    <button class="btn btn-success text-light">{{name}}</button>
                    {{/if}}
                    {{#if isGood}}
                    <button class="btn btn-outline-success text-outline-success">{{name}}</button>
                    {{/if}}
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    {{/with}}
    <hr>

    <section class="mt-5">
        <div class="col-12">
            {{#with goodsOtherBlock}}
            <h2 class="text-center">{{title}}</h2>
            <div class="row">


                {{#each cards}}
                <div class="card col-4">
                    <img class="image-class-top" src="{{image}}" alt="#"></img>
                    <div class=" card-title">{{title}}
                        {{#if isHot}}<span class="badge text-bg-success rounded-pill">new</span>{{/if}}
                        {{#if isNew}}<span class="badge text-bg-danger rounded-pill">top</span> {{/if}}
                    </div>
                    <span class="text">{{description}}</span>


                </div>
                {{/each}}
            </div>
            {{/with}}
        </div>
    </section>
    </div>


    <div class="card">
        {{>shopaction}}
    </div>




</body>