<main>

    <div class="card">


        <div class="d-flex justify-content-end">

            {{#with navigation}}


            <ul class="nav">

                {{#each links}}
                <li class="nav-item">
                    <a href="{{href}}" class="nav-link">{{text}}</a>
                </li>
                {{/each}}


                <li>
                    <a href="#" class="nav-link disabled">Disabled</a>
                </li>
                <li class="nav">
                    {{#with logo}}
                <li class="nav-item">
                    <h5 class="title-text nav-link">{{logo}}</h5>
                </li>
                {{/with}}
                </li>
            </ul>

            {{/with}}
        </div>
    </div>
    <br>
    <section class="mt-5">
        {{#with newsBlock}}
        <h2 class=" text-center">{{title}}</h2>
        <div class="row m-2">
            {{#each cards}}
            <div class="card col-3">
                <div class="card h-100 text-bg-dark">

                    <div class=" card-header text-light">{{title}}
                        {{#if isTop}}
                        <span class="badge text-bg-success rounded-pill">new</span>
                        {{/if}}
                        {{#if isNew}}
                        <span class="badge text-bg-danger rounded-pill">top</span>
                        {{/if}}
                    </div>


                    <span class="text-light">{{description}}</span>

                </div>
            </div>
            {{/each}}
        </div>

        {{/with}}
    </section>
    <hr>
    {{#with goodsBlock}}
    <section>
        <div class="nav nav-tabs mb-5">
            {{#each tabs}}
            <div class="nav-item">

                {{#if isActive}}
                <a href="#" class="nav-link active">{{text}}</a>
                {{else}}
                {{#if isDisabled}}
                <a href="#" class="nav-link isdisabled">{{text}}</a>
                {{else}}
                <a href="#" class="nav-link">{{text}}</a>
                {{/if}}
                {{/if}}

            </div>
            {{/each}}
        </div>


    </section>
    <br>
    <section class="col">

        <div class=" card row-2 ">

            {{#each cards}}
            <div class=" card row-2 ">
                <div class="col-3 g-5">
                    <div class="w-100">
                        <img class="card-image-top" src="{{image}}" alt="#"></img>

                        <div class="card text-bg-light">
                            <h6 class="card-title">{{title}}

                                {{#if isHot}}
                                <span class="badge text-bg-warning rounded-pill">Hot</span>
                                {{/if}}
                                {{#if isNew}}
                                <span class="badge text-bg-primary rounded-pill">New</span>
                                {{/if}}
                            </h6>

                            <p>{{description}}</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
        </div>
        </div>

    </section>
    {{/with}}
    <hr>
    {{#with subscribe}}
    <div class="card">
        <div class="card-body bg-dark">
            <h2>
                <div class="text-light">{{header}}</div>
                <div class="button-content-end"></div>
                {{#each buttons}}

                <button class="btn btn-primary">
                    <span class="text primary">{{text}}</span>
                    <a href="{{link}}"></a>
                </button>

                {{/each}}
            </h2>
            <p class="text-light">{{description}}</p>

        </div>
    </div>
    {{/with}}
    <hr>
    {{#with service}}
    <div class="card">
        <div class="card-body bg-success text-center">
            <h2 class="text-light ">{{title}}</h2>
            <p class="text-light ">{{description}}</p>
            {{#each buttons}}
            <button class="btn btn-primary text-center">
                <span class="text primary">{{text}}</span>
                <a href="{{link}}"></a>
            </button>
            {{/each}}
        </div>
    </div>
    {{/with}}
    <hr>
    <br>
    <div class="row">
        <div class="col-8">
            <div class="nav">
                {{#each footer}}
                {{#each this}}
                <div class="col-3">
                    <ul class="nav nav-tabs">
                        <li>

                            <a href="{{link}}" class="nav-link">{{text}}</a>

                        </li>

                    </ul>

                </div>
                {{/each}}
                {{/each}}

            </div>
        </div>
    </div>



</main>