<main>
    <div class="row">
        <div class="card">
            {{#with navigation}}
            <div class=" nav card-title">
                {{#with navigation.Logo}}
                <h3 class="title-text">{{Logo}}</h3>
                {{/with}}
            </div>
            {{/with}}
        </div>
    </div>
    <br>
    <section class="mt-5">
        {{#with newsBlock}}
        <h2 class=" text-center">{{title}}</h2>
        <div class="row m-2">
            {{#each cards}}
            <div class="card col-3">
                <div class="card h-100 text-bg-dark">

                    <div class=" card-header text-light">{{title}}
                        {{#if isTop}}
                        <span class="badge text-bg-success rounded-pill">new</span>
                        {{/if}}
                        {{#if isNew}}
                        <span class="badge text-bg-danger rounded-pill">top</span>
                        {{/if}}
                    </div>


                    <span class="text-light">{{description}}</span>

                </div>
            </div>
            {{/each}}
        </div>

        {{/with}}
    </section>
    <hr>
    {{#with goodsBlock}}
    <section>
        <div class="nav nav-tabs mb-5">
            {{#each tabs}}
            <div class="nav-item">

                {{#if isActive}}
                <a href="#" class="nav-link active">{{text}}</a>
                {{else}}
                {{#if isDisabled}}
                <a href="#" class="nav-link isdisabled">{{text}}</a>
                {{else}}
                <a href="#" class="nav-link">{{text}}</a>
                {{/if}}
                {{/if}}

            </div>
            {{/each}}
        </div>


    </section>
    <br>


    <div class=" row">

        {{#each cards}}

        <div class="card col-4">

            <img class="card-image-top" src="{{image}}" alt="#"></img>

            <div class="card text-bg-light">
                <h6 class="card-title">{{title}}

                    {{#if isHot}}
                    <span class="badge text-bg-warning rounded-pill">Hot</span>
                    {{/if}}
                    {{#if isNew}}
                    <span class="badge text-bg-primary rounded-pill">New</span>
                    {{/if}}
                </h6>

                <p>{{description}}</p>

            </div>

        </div>
        {{/each}}
    </div>
    {{/with}}
    <hr>
    {{#with subscribe}}
    <div class="card">
        <div class="card-body bg-dark">
            <h2>
                <div class="text-light">{{header}}</div>
                <div class="button-content-end"></div>
                {{#each buttons}}

                <button class="btn btn-primary">
                    <span class="text primary">{{text}}</span>
                    <a href="{{link}}"></a>
                </button>

                {{/each}}
            </h2>
            <p class="text-light">{{description}}</p>

        </div>
    </div>
    {{/with}}
    <hr>
    {{#with service}}
    <div class="card">
        <div class="card-body bg-success text-center">
            <h2 class="text-light ">{{title}}</h2>
            <p class="text-light ">{{description}}</p>
            {{#each buttons}}
            <button class="btn btn-primary text-center">
                <span class="text primary">{{text}}</span>
                <a href="{{link}}"></a>
            </button>
            {{/each}}
        </div>
    </div>
    {{/with}}
    <hr>
    <br>
    <div class="row">
        <div class="col">
            <div class="nav ">
                {{#each footer}}
                <div class=" flex-column">
                    {{#each this}}
                    <div class="col">
                        <ul class="nav nav-item">
                            {{#if @last}}
                            <li><a href="{{link}}" class="nav-link">{{text}}</a></li>
                            {{else}}
                            <li>disabled</li>
                            {{/if}}
                        </ul>

                    </div>
                    {{/each}}
                </div>
                {{/each}}

            </div>
        </div>
    </div>



</main>