<main>
    <div class="row">
        <h1 class="title-text">
            {{header}}
        </h1>
    </div>
    {{#with contacts_data}}
    <h3 class="card-title">{{title}}</h3>

    {{#each buttons}}

    {{#if isPrimary}}
    <button class="btn btn-warning text-light g-2">{{text}}</button>
    {{/if}}
    {{#if isOutline}}
    <button class="btn btn-outline-warning text-outline-warning g-2">{{text}}</button>
    {{/if}}

    {{/each}}

    <div class="row">
        <div class="col-8">


            {{#with form}}
            {{#with input}}
            <div class="row">
                {{#with surname}}
                <div class="col-5">
                    <label class="form-label">{{label}}</label>
                    <input class="form-control">{{placeholder}}
                    <div class="form-text">{{caption}}</div>
                </div>
                {{/with}}
                {{#with name}}
                <div class="col-5">
                    <label class="form-label">{{label}}</label>
                    <input class="form-control">{{placeholder}}
                    <div class="form-text">{{caption}}</div>
                </div>
                {{/with}}
            </div>
            <div class="row">
                {{#with phone}}
                <div class="col-5">
                    <label class="form-label">{{label}}</label>
                    <input class="form-control">{{placeholder}}
                    <div class="form-text">{{caption}}</div>
                </div>
                {{/with}}
                {{#with email}}
                <div class="col-5">
                    <label class="form-label">{{label}}</label>
                    <input class="form-control">{{placeholder}}
                    <div class="form-text">{{caption}}</div>
                </div>
                {{/with}}
            </div>
            {{/with}}
            <hr>
            <div class="row">
                {{#each switch}}
                <div class="col-8">
                    <div class="form-check form-switch">

                        <label class="form-check-label">{{text}}</label>
                        <input name="#" type="checkbox" class="form-check-input">


                    </div>
                </div>
                {{/each}}
            </div>
            {{/with}}
            {{/with}}
            <hr>
        </div>

        <div class="col-3">
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        {{#each action_block}}
                        <div class="col-9 g-5">
                            {{#if isPrimary}}
                            <button class="btn btn-success text-light">{{text}}</button>
                            {{/if}}

                            {{#if isDanger}}
                            <button class="btn btn-danger text-light">{{text}}</button>
                            {{/if}}

                            {{#if isInfo}}
                            <button class="btn btn-info text-light">{{text}}</button>
                            {{/if}}
                        </div>
                        {{/each}}
                    </div>
                </div>



                <div class="card">
                    <div class="card-body">


                        {{#with total}}
                        <h3 class="title-text">{{title}}</h3>
                        {{#each item_list}}
                        <div class="nav">
                            <div class="nav-item">{{name}}:{{price}}</div>
                        </div>
                        {{/each}}


                        {{#each additional_info}}
                        <div class="list-group">
                            <div class="list-group-item">{{text}}:{{value}}</div>
                        </div>
                        {{/each}}


                        {{#with total_price}}
                        <div class="">
                            {{text}}:{{value}}</div>
                        {{/with}}


                        {{#each button}}
                        {{#if isPrimary}}
                        <button class="btn btn-primary text-light">{{text}}</button>
                        {{/if}}
                        {{#if isOutline}}
                        <button class="btn btn-outline-primary text-outline-primary">{{text}}</button>
                        {{/if}}
                        {{/each}}
                        {{/with}}
                    </div>
                </div>
            </div>
        </div>



        <div class="col-8">
            {{#with delivery}}
            <h3 class="text-title">{{title}}</h3>

            <div class="card mb-4">
                <div class="card-body row">
                    {{#each select}}
                    <div class="col-5">
                        <label class="form-label">{{label}}</label>

                        <select class="form-select">
                            <option selected>{{placeholder}}</option>
                            {{#each options}}
                            <option value="{{value}}">{{text}}</option>
                            {{/each}}
                        </select>
                    </div>
                    {{/each}}



                </div>
            </div>

            <div class="nav">
                {{#each delivery_type}}
                <div class="col-6">
                    <ul class="nav-item">
                        <li>{{type}}</li>
                    </ul>
                </div>
                <div class="col-3">
                    <ul class="nav-item">
                        <li>{{value}}</li>
                    </ul>
                </div>
                {{/each}}
            </div>
            <hr>
            {{#with payment}}
            <h3 class="title-text">{{title}}</h3>
            {{#each list}}
            {{type}}
            {{description}}
            {{type}}
            {{/each}}
            {{/with}}
            <hr>
            {{#with contact}}
            <h3 class="title-text">{{title}}</h3>
            {{#with surname}}
            <div class="row">
                <div class="col-5">
                    <label class="form-label">{{label}}</label>
                    <input class="form-control">{{placeholder}}
                    <div class="form-text">{{caption}}</div>
                </div>
                {{/with}}
                {{#with name}}
                <div class="col-5">
                    <label class="form-label">{{label}}</label>
                    <input class="form-control">{{placeholder}}
                    <div class="form-text">{{caption}}</div>
                </div>
            </div>
            {{/with}}
            {{#with phone}}
            <div class="row">
                <div class="col-5">
                    <label class="form-label">{{label}}</label>
                    <input class="form-control">{{placeholder}}
                    <div class="form-text">{{caption}}</div>
                </div>
                {{/with}}
                {{#with email}}
                <div class="col-5">
                    <label class="form-label">{{label}}</label>
                    <input class="form-control">{{placeholder}}
                    <div class="form-text">{{caption}}</div>
                </div>
            </div>
            {{/with}}
            {{/with}}
            <hr>
            {{#with coment}}
            <div class="col-8">
                <label class="form-label">{{label}}</label>
                <input class="form-control">{{placeholder}}
            </div>
            {{/with}}
            {{/with}}
            <hr>
            {{#with coupon}}
            <h3 class="title-text">{{title}}</h3>
            {{#with select}}
            {{#with availabel_coupon }}
            <div class="col-8">
                <label class="form-label">{{label}}</label>

                <select class="form-select ">
                    <option selected>{{placeholder}}</option>
                    {{#each options}}
                    <option value="{{value}}">{{text}}</option>
                    {{/each}}
                </select>
            </div>
            {{/with}}

            {{#with friend_coupon}}
            <div class="col-8">
                <label class="form-label">{{label}}</label>

                <select class="form-select">
                    <option selected>{{placeholder}}</option>
                    {{#each options}}
                    <option value="{{value}}">{{text}}</option>
                    {{/each}}
                </select>
            </div>
            {{/with}}
            {{/with}}

            {{#with add}}
            {{#with friend}}
            <div class="col-8">
                <label class="form-label">{{label}}</label>
                <input class="form-control">{{placeholder}}
                <div class="form-text">{{caption}}</div>
            </div>
            {{/with}}

            {{#with colleague}}
            <div class="col-8">
                <label class="form-label">{{label}}</label>
                <input class="form-control">{{placeholder}}
                <div class="form-text">{{caption}}</div>
            </div>
            {{/with}}
            {{/with}}
            {{/with}}
            <hr>
            {{#with quiz}}
            <h3 class="title-text">{{title}}</h3>
            {{#with preference}}
            <h6 class="title-text">{{title}}</h6>
            {{#each options}}
            {{this}}
            {{/each}}
            {{/with}}

            {{#with your_expirience}}
            <div class="col-8">
                <label class="form-label">{{label}}</label>
                <inpit class="form-control"></inpit>
            </div>
            {{/with}}

            {{#with purchase_frequency}}
            <div class="col-8">
                <label class="form-label">{{label}}</label>

                <select class="form-select">
                    <option selected>{{placeholder}}</option>
                    {{#each options}}
                    <option value="{{value}}">{{text}}</option>
                    {{/each}}
                </select>
            </div>
            {{/with}}

            {{#with factors}}
            <h5 class="title=text">{{title}}</h5>
            <ul>
                {{#each options}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
            {{/with}}
            {{/with}}
            <hr>
        </div>
    </div>
</main>