<main>
    {{#each navigation.links}}
    <div class="row g-1">
        <div class="col-3">
            <button class="btn btn-link">
                <span class="text link">{{text}}</span>
                <a>{{href}}</a>
            </button>
            <br>
            <button class="btn btn-link">
                <span class="text link">{{text}}</span>
                <a>{{href}}</a>
            </button>
            <br>
            <button class="btn btn-link">
                <span class="text link">{{text}}</span>
                <a>{{href}}</a>
            </button>
            {{/each}}
            <br>
            {{#each navigation.button}}
            <button class="btn btn-primary">
                <span class="text link">{{text}}</span>
                <a>{{href}}</a>
            </button>
            {{/each}}
        </div>
    </div>
    <br>
    {{#with header}}
    <h1>{{title}}</h1>
    <br>
    <p>{{description}}</p>
    <br>
    <button class="btn btn-primary">
        <span class="text primary">{{text}}</span>
        <a>{{link}}</a>
    </button>
    {{/with}}
    <br>
    {{#each city}}
    <h2>{{title}}</h2>
    <br>
    <div class="card">
        <img class="card-img-top" {{src}} {{alt}}>
        <div clas="card-body">
            <h3 class="card-title">{{title}}</h3>
            <p>{{description}}</p>
            <button class="btn btn-primary">
                <span class="text primary">{{text}}</span>
                <a>{{href}}</a>
            </button>
        </div>
        <br>
        <img class="card-img-top" {{src}} {{alt}}>
        <div clas="card-body">
            <h3 class="card-title">{{title}}</h3>
            <p>{{description}}</p>
            <button class="btn btn-primary">
                <span class="text primary">{{text}}</span>
                <a>{{href}}</a>
            </button>
        </div>
        <br>
        <img class="card-img-top" {{src}} {{alt}}>
        <div clas="card-body">
            <h3 class="card-title">{{title}}</h3>
            <p>{{description}}</p>
            <button class="btn btn-primary">
                <span class="text primary">{{text}}</span>
                <a>{{href}}</a>
            </button>
        </div>
        <br>
        <img class="card-img-top" {{src}} {{alt}}>
        <div clas="card-body">
            <h3 class="card-title">{{title}}</h3>
            <p>{{description}}</p>
            <button class="btn btn-primary">
                <span class="text primary">{{text}}</span>
                <a>{{href}}</a>
            </button>
        </div>
    </div>
    {{/each}}
    <br>
    {{#with winner}}
    <h2>{{title}}</h2>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>name</th>
                <th>surname</th>
                <th>nickname</th>
            </tr>
        </thead>

        <tbody>
            <ul>
                <li>{{name}}</li>
                <li>{{surname}}</li>
                <li>{{nickname}}</li>
            </ul>
        </tbody>
    </table>
    {{/with}}
    <br>
    {{#with gallery}}
    <h2>{{title}}</h2>
    <br>
    <table class="table">
        <tbody>
            <ul>
                <li>{{name}}</li>
                <li>{{items}}</li>
            </ul>
        </tbody>
    </table>
    {{/with}}
    <br>
    {{#with relaxion}}
    <div class="display-3">{{title}}</div>
    <br>

    <div class="row g-3">
        <div class="col-5">
            <div class="card text-bg-secondary>">
                <div class="card-header">{{header}}</div>
                <div class="card-body title-secondary">
                    <h6>{{title}}</h6>
                    <p>{{description}}</p>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="card text-bg-secondary>">
                <div class="card-header">{{header}}</div>
                <div class="card-body title-secondary">
                    <h6>{{title}}</h6>
                    <p>{{description}}</p>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="card text-bg-secondary>">
                <div class="card-header">{{header}}</div>
                <div class="card-body title-secondary">
                    <h6>{{title}}</h6>
                    <p>{{description}}</p>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="card text-bg-secondary>">
                <div class="card-header">{{header}}</div>
                <div class="card-body title-secondary">
                    <h6>{{title}}</h6>
                    <p>{{description}}</p>
                </div>
            </div>
        </div>
    </div>
    {{/with}}
    <br>
    {{#with rest}}
    <div class="col-6">
        <div class="card-header text-ctnter">{{header}}</div>
        <div class="card-body text-center">
            <h6 class="card-title">{{title}}</h6>
            <p>{{description}}</p>
            <button class="btn btn-pimary">
                <span class="text primary">{{button}}</span>
            </button>
        </div>
        <div class="card-footer text-center">{{footer}}</div>
    </div>

    <div class="col-6">
        <div class="card-header text-ctnter">{{header}}</div>
        <div class="card-body text-center">
            <h6 class="card-title">{{title}}</h6>
            <p>{{description}}</p>
            <button class="btn btn-pimary">
                <span class="text primary">{{button}}</span>
            </button>
        </div>
        <div class="card-footer text-center">{{footer}}</div>
    </div>
    {{/with}}
    <br>
    {{#with rest}}
    <div class="col-6">
        <div class="card text-bg-warning"></div>
        <div class="card-head">{{header}}</div>
        <div class="card-body">
            <h6 class="card-title">{{title}}</h6>
            <p>{{description}}</p>
        </div>
    </div>
    <div class="col-6">
        <div class="card text-bg-warning"></div>
        <div class="card-head">{{header}}</div>
        <div class="card-body">
            <h6 class="card-title">{{title}}</h6>
            <p>{{description}}</p>
        </div>
    </div>
    {{/with}}
    <br>
    {{#with footer}}
    <h5>{{title}}</h5>
    <br>
    <div class="-3">
        <div class="col-5">
            <button class="btn btn-link">
                <span class="text-link">{{text}}</span>
                <a>{{href}}</a>
            </button>
            <button class="btn btn-outline-dark">
                <span class="text outline-dark">{{text}}</span>
                <a>{{href}}</a>
            </button>
            <button class="btn btn-outline-info">
                <span class="text outline-info">{{text}}</span>
                <a>{{href}}</a>
            </button>
            <button class="btn btn-link">
                <span class="text-link">{{name}}</span>
                <a>{{link}}</a>
            </button>
            <button class="btn btn-outline-dark">
                <span class="text outline-dark">{{name}}</span>
                <a>{{link}}</a>
            </button>
            <button class="btn btn-outline-info">
                <span class="text outline-info">{{name}}</span>
                <a>{{link}}</a>
            </button>
        </div>
    </div>
    {{/with}}

</main>